{% block footer %}
	<div class="container">
		<img src="{{theme.link}}'/img/logo-words.png'" alt="" class="footer__logo">
		<div class="footer__links">
			<div class="footer__links--left">
				<a href="#">FAQ</a>
				<a href="#">Contact Us</a>
				<a href="#">Privacy Policy</a>
				<a href="#">Terms of Service</a>
				<a href="#">COAs</a>
			</div>
			<div class="footer__links--rigth">
				<a href="#">Instagram</a>
				<a href="#">TiKTok</a>
				<a href="#">LinkedIn</a>
				<a href="#">Sell Nowadays</a>
			</div>
		</div>


	</div>
{% endblock %}
