{% extends "base.twig" %}
{% block footer %}
	<div class="footer">
		<img src="{{theme.link}}'/img/logo-words.png'" alt="" class="footer__logo">
		<div class="footer-links">
			<div class="footer-links__left">
				<ul>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Terms of Service</a></li>
					<li><a href="#">COAs</a></li>
				</ul>
			</div>
			<div class="footer-links__rigth">
				<ul>
					<li><a href="#">Instagram</a></li>
					<li><a href="#">TiKTok</a></li>
					<li><a href="#">LinkedIn</a></li>
					<li><a href="#">Sell Nowadays</a></li>
				</ul>


			</div>
		</div>
	</div>
{% endblock %}
