footer {
  background: #2d2926;
  padding: 40px 0 20px 0;
}
.footer {
  display: flex;
  gap: 110px;
}
.footer-links {
  display: flex;
  gap: 120px;
  text-transform: uppercase;

  &__left {
    a {
      color: $white;
      display: inline-block;
      margin-bottom: 16px;
    }
  }
}

.footer-links__rigth {
  a {
    color: $white;
    display: inline-block;
    margin-bottom: 16px;
  }
}
