header {
  border-bottom: 2px solid $white;
  z-index: 10000;
  position: fixed;
  width: 100%;
}
.nav__items {
  align-items: center;
  display: flex;
  gap: 20px;
  padding: 18px 0;
  gap: 66px;
}
.nav__link {
  color: $white;
  display: flex;
  gap: 10px;
  a {
    color: $white;
    font-size: 22px;
    position: relative;
    display: inline-block;
    font-family: $font_family;
    font-weight: $normal;
    line-height: $lh_small;
    text-transform: uppercase;

    &:after {
      content: "";
      height: 1px;
      position: absolute;
      top: 100%;
      width: 0;
      background-color: $white;
      transition: width 0.3s ease;
      transform: translateX(-50%);
      bottom: 0;
      left: 50%;
    }
    &:hover:after {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

.hdr__logo-link {
  color: $white;
  font-size: 44px;
}
