.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: -1;
  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;

    &-info {
      padding: 90px;
      position: absolute;
      text-transform: uppercase;
      top: 30%;

      h2 {
        color: $white;
        font-size: 80px;
        line-height: 70px;
        margin-bottom: 28px;
      }
      p {
        color: $white;
        font-size: 28px;
        margin-bottom: 43px;
      }
    }
  }
  &__video {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
  }
}
.icons {
  background-color: $white;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  padding: 0 170px;
  padding: 60px 150px;
  &__icon {
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: center;
    p {
      font-size: 19px;
      text-align: center;
      text-transform: uppercase;
      color: $beige;
      font-family: $font_family;
      font-weight: $normal;
      line-height: $lh_small;
    }
    img {
      height: 62px;
    }
    .icons__shipping {
      height: 42px;
    }
  }
}

.best-sellers {
  background: #ffffff;
  padding-bottom: 30px;
  padding-top: 60px;

  &__head {
    margin-bottom: 60px;
  }
  &__title {
    font-family: "Euclid Flex";
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
  }
  &__description {
    color: $bg_color;
    font-size: 30px;
    font-weight: $normal;
    text-transform: capitalize;
  }
  &__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}
.bs-product {
  font-family: $font_family;
  text-align: center;
  text-transform: uppercase;

  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 82% 86%;
    margin-bottom: 24px;
    text-align: center;
    transition: 0.2s linear;
    img {
      height: 460px;
    }
  }
  &__one {
    &:hover {
      background-image: url("/img/Bg-micro.png");
      cursor: pointer;
      transition: 0.2s linear;
    }
  }
  &__two {
    &:hover {
      background-image: url("/img/Bg-low.png");
      cursor: pointer;
      transition: 0.2s linear;
    }
  }
  &__three {
    &:hover {
      background-image: url("/img/Bg-high.png");
      cursor: pointer;
      transition: 0.2s linear;
    }
  }

  &__reviews {
    direction: rtl;
    display: inline-block;
    margin-right: 3px;
    unicode-bidi: bidi-override;

    input {
      display: none;
    }
    label {
      color: $bg_color;
      cursor: pointer;
      font-size: 20px;
    }
    input:checked ~ label {
      color: #efba87;
    }
  }

  &__title,
  &__reviews,
  &__description,
  &__bottle {
    margin-bottom: 6px;
  }
  &__price {
    font-weight: 600;
    margin-bottom: 28px;
  }
}
.shop-all {
  margin-bottom: 46px;
  text-align: center;
}

.hero-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f1efe8;
  overflow-x: hidden;
}

.hero-options__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.2rem;
}

.hero-options__card p {
  text-transform: uppercase;
  color: #efba87;
  font-weight: 400;
  letter-spacing: 0.03rem;
  font-size: 20px;
}

.hero-options__card img {
  height: 50px;
}

/* animated-text */
.animated-text {
  width: 100%;
  height: 38px;
  position: relative;
  z-index: 1;
  padding: 12px 0;
  color: #fff;
  background-color: #242424;
  overflow: hidden;
}
.animated-text__container {
  width: 3200px;
  position: absolute;
  white-space: nowrap;
  animation: animated-text 16s linear infinite;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.animated-text__container p {
  padding: 0 20px;
  font-size: 24px;
  letter-spacing: 0.03em;
}
.animated-text__container span::before {
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  background-image: url("/img/hero-line.svg");
  background-position: center center;
  background-size: cover;
  transform: translate(-50%, -50%);
}
.animated-text__container span {
  position: relative;
}

/* Media testimonials */
.media-testimonials-container {
  background: #fafafa;
  width: 100%;
  overflow: hidden;

  h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 2rem;
  }
  .media-testimonials {
    display: flex;
    animation: animated-text 25s linear infinite;
    width: 3200px;
    gap: 3rem;
    padding: 40px 0;

    .media-testimonials__item {
      text-align: center;
      max-width: 300px;
      img {
        margin-bottom: 1rem;
      }
    }
  }
}

/* good time section */
.good-time-section {
  padding: 2rem;
  background-image: url("/img/098a31489cabd3fe3a6b64695a1a096a.png");
  h2 {
    font-size: 32px;
    font-family: sans-serif;
    line-height: normal;
  }
  &__subtitle {
    font-family: "ElicitScript-SemiBold";
    margin-bottom: 2rem;
  }
  .good-time-section__products {
    display: flex;
    width: 100%;
    overflow-x: auto;
    gap: 2rem;
    font-family: sans-serif;
    margin-bottom: 2rem;
    .good-time-section-product__card {
      img {
        width: 280px;
      }
      p {
        text-align: center;
        font-size: 20px;
        line-height: 25.36px;
      }
      button {
        background-color: #e7b78a;
        width: 286px;
        height: 48px;
        border: none;
        margin-top: 1rem;
      }
    }
  }
}

/* scroll indicator */
.scroll-indicator {
  position: relative;
  display: flex;
  justify-content: end;

  &__empty {
    width: 195px;
    background-color: white;
  }
  &__empty,
  &__progress {
    position: absolute;
    height: 4px;
    left: 0;
    top: 23px;
  }
  &__progress {
    background-color: #e7b78a;
    width: 0;
    z-index: 1;
  }
  button {
    background-color: transparent;
    width: 48px;
    height: 48px;
    border: 2px solid black;
    &.disabled {
      opacity: 0.5;
    }
  }
  &__buttons {
    &--left {
      img {
        transform: rotate(180deg);
      }
    }
  }
}

.good-time-section__button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  &--shop-all {
    width: 325px;
    height: 48px;
    color: black;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 1);
  }
}

/* more ways section */
.more-ways {
  background-color: #fafafa;
  padding: 60px 0;
  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 36px;
  }
  &__title {
    font-family: $font_family;
    h2 {
      color: #101010;
      font-family: "Euclid Flex";
      font-size: 48px;
      font-weight: 500;
      letter-spacing: 0em;
      line-height: 48px;
      margin-bottom: 12px;
      text-align: left;
      text-transform: uppercase;
    }
    p {
      color: #101010;
      font-family: "Elicit Script";
      font-size: 32px;
      font-weight: 600;
      letter-spacing: 0em;
      line-height: 65px;
      text-align: left;
      text-transform: capitalize;
    }
  }
  &__image {
    text-align: end;
    img {
      animation: text-rotate 20s linear infinite;

      @keyframes text-rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}

.more-cards {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-bottom: 40px;

  &__image {
    img {
      height: 390px;
      margin-bottom: 30px;
    }
  }
  &__info {
    h4 {
      font-family: "Euclid Flex";
      font-size: 28px;
      font-weight: 500;
      letter-spacing: 0em;
      line-height: 36px;
      margin-bottom: 10px;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      text-align: center;
    }
  }
  &__card {
    position: relative;
    width: 390px;
  }
  &__overlay {
    align-items: center;
    background: $bg_color;
    display: flex;
    height: 390px;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 390px;
    &:hover {
      opacity: 0.6;
    }
  }
  &__action {
    text-align: center;
  }
}

// .more-ways-section{
//   padding: 2rem;
//   h2{
//       font-size:32px;
//       font-family: sans-serif;
//       line-height: normal;
//   }
//   &__subtitle{
//       font-family:
//       Elicit Script;
//       margin-bottom: 2rem;
//   }
//   &__products{
//       display: flex;
//       gap:1.5rem;
//       overflow-x: auto;
//       margin-bottom: 2rem;
//       .more-ways-section__card{
//           display: flex;
//           flex-direction: column;
//           gap:1rem;
//           img{
//               width:300px;
//           }
//           &--name{
//               text-align: center;
//               font-size: 20px;
//               line-height: 25.36px;
//               font-weight: 500;
//           }
//           &--description{
//               text-align: center;
//               font-size: 16px;
//               line-height: 20.29px;
//               font-weight: 400;
//           }
//           button{
//               width:325px;
//               height:48px;
//               color:black;
//               border:2px solid black;
//               background-color: rgba(255, 255, 255, 1);
//           }
//       }
//   }
//   &__button-container--submit{
//       width:325px;
//       height:48px;
//       color:black;
//       border:none;
//       background-color: rgba(231, 183, 138, 1);
//       margin-top:2rem;
//   }
//   .scroll-indicator__empty{
//       background-color: rgba(241, 239, 232, 1);
//   }
// }

/* what everyone */
.what-everyone-section {
  padding: 2rem;
  h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    font-family: Euclid Fle;
  }
  &__video-list {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
  }
  .scroll-indicator__empty {
    background-color: rgba(241, 239, 232, 1);
  }
  &__buttons-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    &--button {
      width: 325px;
      height: 48px;
      color: black;
      border: 2px solid black;
      background-color: rgba(255, 255, 255, 1);
    }
  }
}

/* Have  Questions */
.have-questions {
  background-color: $beige;
  padding: 35px 0;

  &__line--top,
  &__line--bottom {
    border: 2px solid #101010;
  }

  &__content {
    padding-top: 66px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    h3 {
      font-family: "Euclid Flex";
      font-size: 48px;
      font-weight: 500;
      line-height: 48px;
      letter-spacing: 1.684999942779541px;
      text-align: left;
      color: #101010;
    }
  }
  &__accordion {
    details {
      margin-bottom: 32px;
      p {
        padding: 22px 0;
      }
    }
    summary {
      font-family: "Euclid Flex";
      font-size: 32px;
      font-weight: 500;
      letter-spacing: 0.3199999928474426px;
      text-align: left;
      text-transform: uppercase;
      position: relative;
      color: #101010;
      &::marker {
        content: none;
      }
      &::before,
      &::after {
        content: "";
        width: 0.75em;
        height: 0;
        border-bottom: 2px solid;
        position: absolute;
        top: calc(50% - 1px);
        right: 0;
        transform: translateY(-50%);
      }

      &::after {
        transform: rotate(90deg);
        transform-origin: 50% 50%;
      }

      [open] &::after {
        transform: rotate(0deg);
      }
    }
  }
}

/* starts-group */
.starts-group {
  direction: rtl;
  display: inline-block;
  margin-right: 3px;
  unicode-bidi: bidi-override;

  label {
    color: black;
    cursor: pointer;
    font-size: 20px;
  }
  input {
    display: none;
    &:checked ~ label {
      color: #efba87;
    }
  }
}

/* reviews section */
.wrap-reviews-section {
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  .reviews-section {
    padding: 2rem 0 2rem 0;
    overflow: hidden;
    background-color: rgba(250, 250, 250, 1);
    display: flex;
    animation: animated-text 25s linear infinite;
    width: 3200px;
    gap: 3rem;
    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      &--description {
        width: 280px;
        font-family: "Elicit Script";
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
      }
      &--name {
        font-family: "Euclid Flex";
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

/* subscribe save */

.subscribe-save {
  display: flex;
  flex-direction: column;
  background: #fdfbf2;
  padding: 1rem;
  &__main-image {
    width: 100%;
    margin-bottom: 2rem;
  }
  &__text-container {
    position: relative;
    &--img {
      position: absolute;
      right: 0;
    }
    &--subscribe,
    &--andsave {
      font-weight: 500;
      font-size: 32px;
      line-height: 32px;
      font-family: "Euclid Flex";
    }
    &--subscribe {
      color: black;
    }
    &--andsave {
      color: #e7b78a;
      margin-bottom: 2rem;
    }
    &--description {
      font-size: 16px;
      line-height: 20.29px;
      font-weight: 400;
      font-family: "Euclid Circular A";
      margin-bottom: 10px;
    }
    &--grid {
      display: grid;
      grid-template-columns: auto auto;
      .grid-point {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        img {
          width: 12px;
          height: 12px;
        }
      }
    }
    &--action {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        background-color: #e7b78a;
        width: 325px;
        height: 48px;
        border: none;
        margin-top: 1rem;
        font-weight: 500;
      }
    }
  }
}

/* input */
.group {
  position: relative;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}
input:focus {
  outline: none;
}

/* LABEL =================== */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: black;
}

/* BOTTOM BARS ================ */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 1px;
  background: black;
  transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================== */
.highlight {
  position: absolute;
  top: 25%;
  left: 0;
  height: 60%;
  width: 100px;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */

@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes animated-text {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media (min-width: 768px) {
  /* Header */
  #mobile-header {
    display: none;
  }

  /*
      top bar
  */
  .top-bar {
    height: 47px;
    width: 100%;
    background-color: #efba87;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }

  /*
      Scroll indicator
  */
  .scroll-indicator {
    &__empty {
      width: 85%;
    }
  }

  /* 
      more ways section
  */
  .more-ways-section {
    &__button-container {
      display: flex;
      justify-content: center;
    }
  }

  /* what everyone */
  .what-everyone-section {
    padding: 2rem;
    .parent-what-everyone-section {
      display: none;
    }
    &__buttons-container {
      flex-direction: row;
      justify-content: center;
      button {
        &:hover {
          background-color: $bg_color;
          color: $white;
        }
      }
    }
  }

  /* subscribe save*/
  .subscribe-save {
    flex-direction: row;
    padding: 0;
    &__main-image {
      width: 50%;
      margin: 0;
    }
    &__text-container {
      margin: 3rem 0 0 5rem;
      &--subscribe,
      &--andsave {
        font-size: 48px;
        line-height: 48px;
      }
      &--description {
        font-size: 20px;
        line-height: 20.29px;
      }
      &--grid {
        font-size: 18px;
        line-height: 22.82px;
        .grid-point {
          img {
            width: 16px;
            height: 16px;
          }
        }
      }
      &--action {
        button {
          width: 425px;
          font-family: "Euclid Flex";
          font-size: 20px;
          font-weight: 500;
          line-height: 25px;
          letter-spacing: 0em;

          &:hover {
            background-color: $bg_color;
            color: $white;
          }
        }
      }
    }
  }
  .group {
    input,
    .bar {
      width: 408px;
    }
  }
}
