.navbar {
  background-color: $bg_color;
  border-bottom: 1px solid $turquoise;
  width: 100%;
  &__container {
    padding: 1rem 0rem;
    @include flex(row, space-between, center);
  }
  &__logo {
    width: 200px;
    img {
      height: auto;
    }
  }
  &__menu {
    width: 100%;
  }
  &__nav{
    @include flex(row, flex-end, center);
    list-style: none;
  }
}

.nav{
    &__item{
        margin-left: 2rem;
    }
    &__link{
        @extend .nav_text;
        color: $white;
        text-decoration: none;
        display: flex;
        gap: 0.5rem;
        &--button{
          @extend .nav_text--button;
          color: $blue;
          background-color: $white;
          padding: 0.3rem 2rem;
          border-radius: 12px;
          text-decoration: none;
          border: none;
        }
    }
}

.hdr__logo-link{
  width: 540px;
}

.main-menu{
  width: 100%;
  .menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  a{
    color: $white;
  }
}
