{% block content %}
<div class="animated-text">
    <div class="animated-text__container">
            <p>
                <span>DON’T DRINK HARD.</span>
                DRINK EASY.
            </p>
            <p>
                <span>DON’T DRINK HARD.</span>
                DRINK EASY.
            </p>
            <p>
                <span>DON’T DRINK HARD.</span>
                DRINK EASY.
            </p>
            <p>
                <span>DON’T DRINK HARD.</span>
                DRINK EASY.
            </p>
            <p>
                <span>DON’T DRINK HARD.</span>
                DRINK EASY.
            </p>
            <p>
                <span>DON’T DRINK HARD.</span>
                DRINK EASY.
            </p>
            <p>
                <span>DON’T DRINK HARD.</span>
                DRINK EASY.
            </p>
            </div>
</div>
{% endblock %}