{% block content %}
    <div class="good-time-section-product__card">
        <img src="{{ theme.link ~ '/img/image-2.png' }}" />
        <p class="good-time-section-product__card--name">Product Name</p>
        <p class="good-time-section-product__card--price">$20.00</p>
        <button class="good-time-section-product__card--button">SHOP NOW</button>
    </div>
{% endblock %}