{% block content %}
    <section class="good-time-section">
        <h2>A GOOD TIME IN NO TIME</h2>
        <p class="good-time-section__subtitle">Unwind. Unplift.</p>
        <div class="good-time-section__products scroll-content-good-time-section">
            {% include 'partial/good-time-section-product-card.twig' %}
            {% include 'partial/good-time-section-product-card.twig' %}
            {% include 'partial/good-time-section-product-card.twig' %}
            {% include 'partial/good-time-section-product-card.twig' %}
            {% include 'partial/good-time-section-product-card.twig' %}
        </div>
        {% include 'partial/scroll-indicator.twig' with {"parentElement":'good-time-section'} %}
        <div class="good-time-section__button-container">
            <button class="good-time-section__button-container--shop-all">SHOP ALL</button>
        </div>
    </section>
{% endblock %}