{% block content %}
	<div class="have-questions">
		<hr class="have-questions__line--top">

		<div class="container">
			<div class="have-questions__content">
				<h3>HAVE<br>
					QUESTIONS?</h3>

				<div class="have-questions__accordion">
					<details>
						<summary>THC? What’s the hype?</summary>
						<p>Lorem ipsum dolor sit amet.</p>
					</details>
					<details>
						<summary>Does it taste like Weed?</summary>
						<p>Lorem ipsum dolor sit amet.</p>
					</details>
					<details>
						<summary>How Many Can I Drink?</summary>
						<p>Lorem ipsum dolor sit amet.</p>
					</details>
					<details>
						<summary>Where Can I Find Nowadays?</summary>
						<p>Lorem ipsum dolor sit amet.</p>
					</details>

				</div>
			</div>


		</div>
		<hr class="have-questions__line--bottom">

	</div>

{% endblock %}
