{% block content %}
    <section class="hero-options">
        <div class="hero-options__card">
            <img src="{{ theme.link }}'/img/feature-1.svg" />
            <p>Quick onset time</p>
        </div>
        <div class="hero-options__card">
            <img src="{{ theme.link }}'/img/feature-2.svg" />
            <p>bye buy hangovers</p>
        </div>
        <div class="hero-options__card">
            <img src="{{ theme.link }}'/img/feature-3.svg" />
            <p>drink with friends</p>
        </div>
        <div class="hero-options__card">
            <img src="{{ theme.link }}'/img/feature-4.svg" />
            <p>shipping to your door</p>
        </div>
    </section>
    {% endblock %}