{% block content %}
    <div class="more-ways-section__card">
        <img src="{{ theme.link ~ '/img/Img.png'}}" />
        <p class="more-ways-section__card--name">PUCKER UP</p>
        <p class="more-ways-section__card--description">Just enough tartness to keep you coming back for more</p>
        <button class="more-ways-section__card--button">VIEW MORE</button>
    </div>
    
{% endblock %}