{% block content %}
    <section class="wrap-reviews-section">
        <div class="reviews-section">
           <div class="reviews-section__card">
                {% include 'partial/starts-group.twig' %}
                <p class="reviews-section__card--description">“Amazing product, it’s no wonder our judges loved it”</p>
                <p class="reviews-section__card--name">Nicolette Teo</p>
           </div>
           <div class="reviews-section__card">
            {% include 'partial/starts-group.twig' %}
    
            <p class="reviews-section__card--description">“I have never seen anything like Nowadays, best discovery ever”</p>
            <p class="reviews-section__card--name">olivia resendiz</p>
    
       </div>
       <div class="reviews-section__card">
        {% include 'partial/starts-group.twig' %}
        <p class="reviews-section__card--description">“Nowadays making it my go-to for a chill and enjoyable experience.”</p>
        <p class="reviews-section__card--name">leslie gums</p>
    
    </div>
    <div class="reviews-section__card">
        {% include 'partial/starts-group.twig' %}
        <p class="reviews-section__card--description">“Smooth taste, subtle high”</p>
        <p class="reviews-section__card--name">Manuel Caride</p>
    </div>
    <div class="reviews-section__card">
        {% include 'partial/starts-group.twig' %}
        <p class="reviews-section__card--description">“Amazing product, it’s no wonder our judges loved it”</p>
        <p class="reviews-section__card--name">Nicolette Teo</p>
   </div>
   <div class="reviews-section__card">
    {% include 'partial/starts-group.twig' %}

    <p class="reviews-section__card--description">“I have never seen anything like Nowadays, best discovery ever”</p>
    <p class="reviews-section__card--name">olivia resendiz</p>

</div>
<div class="reviews-section__card">
{% include 'partial/starts-group.twig' %}
<p class="reviews-section__card--description">“Nowadays making it my go-to for a chill and enjoyable experience.”</p>
<p class="reviews-section__card--name">leslie gums</p>

</div>
<div class="reviews-section__card">
{% include 'partial/starts-group.twig' %}
<p class="reviews-section__card--description">“Smooth taste, subtle high”</p>
<p class="reviews-section__card--name">Manuel Caride</p>
</div>
        </div>
    </section>
{% endblock %}
