{% block content %}
    <div class="what-everyone__card">
        <video autoplay muted width="286" height="545">
            <source src="{{ theme.link ~ '/img/ssstik.io_1708112788862.mp4' }}" type="video/mp4">
        </video>    
    </div>
    
{% endblock %}